$color-grey-01: #353535;
$color-grey-02: #474747;
$color-grey-03: #545454;
$color-grey-04: #5F5F5F;
$color-grey-05: #A5A5A5;
$color-grey-06: #C3C3C3;
$color-green-01: #519945;
$color-white-01: #FFFFFF;
$color-red-01: red;